body{
    background-image: url("../images/dark-triangles.png");
    background-size: 900px;
    background-repeat: repeat;

}
#images{
    position:relative;
}
#travolta{
    position: absolute;
    top:-10;
    left:50;
    z-index:3;
    opacity: .1;
}

